<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044308971603-510k90cj1i92gfi6lv4k0h1ige7k5oqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044308971603-510k90cj1i92gfi6lv4k0h1ige7k5oqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDaA4eHvd7dCYy7_-9E1JL1cqT13_Kmq_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1044308971603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Suelen.BookClubApp</string>
	<key>PROJECT_ID</key>
	<string>sue-book-club</string>
	<key>STORAGE_BUCKET</key>
	<string>sue-book-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044308971603:ios:07b9ed86ded15f5253f6a6</string>
</dict>
</plist>